<div class="aadhar-info-tab" style="background-color: gray; color: black; width: 1076px; height: 980px;">
  <h2>Aadhar Information</h2>
  <form>
    <label for="aadharNumber">Aadhar Number:</label>
    <input type="text" id="aadharNumber" name="aadharNumber"><br><br>
    <label for="aadharName">Name:</label>
    <input type="text" id="aadharName" name="aadharName"><br><br>
    <label for="aadharAge">Age:</label>
    <input type="text" id="aadharAge" name="aadharAge"><br><br>
    <label for="aadharAddress">Address:</label>
    <input type="text" id="aadharAddress" name="aadharAddress"><br><br>
    <label for="aadharStatus">Aadhar Status:</label><br>
    <input type="radio" id="matched" name="aadharStatus" value="matched">
    <label for="matched">Matched</label><br>
    <input type="radio" id="notMatched" name="aadharStatus" value="notMatched">
    <label for="notMatched">Not Matched</label><br>
    <input type="radio" id="noData" name="aadharStatus" value="noData">
    <label for="noData">No Data</label><br><br>
    <button type="button" id="verifyAadhar">Verify Aadhar</button>
  </form>
</div>