<div class="address-container">
  <div class="address-field">
    <label>Door No:</label>
    <span>{{ address.doorNo }}</span>
  </div>
  <div class="address-field">
    <label>Building Name:</label>
    <span>{{ address.buildingName }}</span>
  </div>
  <div class="address-field">
    <label>Plot No/Street:</label>
    <span>{{ address.plotNoStreet }}</span>
  </div>
  <div class="address-field">
    <label>State:</label>
    <span>{{ address.state }}</span>
  </div>
  <div class="address-field">
    <label>Area:</label>
    <span>{{ address.area }}</span>
  </div>
  <div class="address-field">
    <label>Fax:</label>
    <span>{{ address.fax }}</span>
  </div>
  <div class="address-field">
    <label>Country:</label>
    <span>{{ address.country }}</span>
  </div>
  <div class="address-field">
    <label>Pincode:</label>
    <span>{{ address.pincode }}</span>
  </div>
  <div class="address-field">
    <label>District:</label>
    <span>{{ address.district }}</span>
  </div>
  <div class="address-field">
    <label>Place:</label>
    <span>{{ address.place }}</span>
  </div>
  <div class="address-field">
    <label>Telephone:</label>
    <span>{{ address.telephone }}</span>
  </div>
  <div class="address-field">
    <label>Email Id:</label>
    <span>{{ address.emailId }}</span>
  </div>
  <button id="verifiedAddressButton" style="display:none;">Verified Address</button>
  <button (click)="onExitButtonClick()">Exit</button>
</div>
