/* Styling for the AML tab component */

/* Aadhar information input field (radio group) */
.aadhar-radio-group {
  width: 100px;
  height: 21px;
}

/* Tabbed canvas named "NBTABS" */
#NBTABS {
  background-color: gray;
  color: black;
  width: 1076px;
  height: 980px;
}

/* Window displaying the Aadhar information */
.new-business-window {
  width: 1023px;
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}