<div class="new-business-window" style="width: 1023px; height: 550px; overflow-y: scroll; overflow-x: hidden;">
  <h1>New Business</h1>
  <div class="nbtabs" style="width: 1076px; height: 980px; background-color: gray; color: black;">
    <div class="aml-tab">
      <h2>AML</h2>
      <div class="aadhar-info">
        <label for="aadhar-radio">Aadhar Information:</label>
        <input type="radio" id="aadhar-radio" name="aadhar-info" style="width: 100px; height: 21px;">
      </div>
      <div class="aml-checkbox">
        <label for="aml-checkbox">Edit AML Details:</label>
        <input type="checkbox" id="aml-checkbox" (change)="handleCheckboxChange($event)">
      </div>
      <div class="aml-details" *ngIf="isAmlEditable">
        <label for="aml-name">Name:</label>
        <input type="text" id="aml-name" [(ngModel)]="amlDetails.name" [disabled]="!isAmlEditable">
        <label for="aml-address">Address:</label>
        <input type="text" id="aml-address" [(ngModel)]="amlDetails.address" [disabled]="!isAmlEditable">
        <label for="aml-income">Annual Income:</label>
        <input type="text" id="aml-income" [(ngModel)]="amlDetails.income" [disabled]="!isAmlEditable">
      </div>
      <div class="proof-type">
        <label for="proof-type">Proof Type:</label>
        <input type="text" id="proof-type" (dblclick)="onProofTypeDoubleClick()">
      </div>
      <div class="proof-details" *ngIf="proofDetails">
        <label for="proof-desc">Proof Description:</label>
        <input type="text" id="proof-desc" [(ngModel)]="proofDetails.description" disabled>
        <label for="proof-expiry">Expiry Date:</label>
        <input type="text" id="proof-expiry" [(ngModel)]="proofDetails.expiryDate" disabled>
      </div>
    </div>
  </div>
</div>
