<div class="bbu-image-container">
  <!-- Button for scrolling the image vertically -->
  <button (click)="onScrollButtonClick()">V</button>

  <!-- Button for scrolling the image to the left -->
  <button (click)="onLeftButtonClick()">LEFT_1</button>

  <!-- Button for zooming in the image -->
  <button (click)="onZoomInButtonClick()">+</button>

  <!-- Button for navigating to the previous image -->
  <button (click)="onPreviousImageClick()">Previous</button>

  <!-- Button for scrolling the image upwards -->
  <button (click)="onScrollUpButtonClick()">^</button>

  <!-- Button for scrolling the image to the left -->
  <button (click)="onScrollLeftButtonClick()"><<</button>

  <!-- Button for scrolling the image horizontally -->
  <button (click)="onScrollRightButtonClick()">>></button>

  <!-- Button for zooming out the image -->
  <button (click)="onZoomOutButtonClick()">-</button>

  <!-- Button for navigating to the next image -->
  <button (click)="onNextImageClick()">></button>

  <!-- Button for printing the image -->
  <button (click)="onPrintButtonClick()">Print</button>

  <!-- Button for resetting the image zoom -->
  <button (click)="onResetZoomButtonClick()">Reset</button>

  <!-- Button for hiding the BBU Image window -->
  <button (click)="onHideQuestionsButtonClick()">Hide Questions</button>
</div>